[submodule "Submodules"]
	path = Submodules
	url = git@github.com:mousebird/WhirlyGlobe.git
[submodule "Carthage/Checkouts/osgridpointconversion-ios"]
	path = Carthage/Checkouts/osgridpointconversion-ios
	url = https://github.com/OrdnanceSurvey/osgridpointconversion-ios.git
